*{
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#minuts, #hours, #seconds {
    width: 10px;
    position: absolute;
}
#minuts{
    z-index: 2;
}
#seconds{
    z-index: 3;
}
#clock{
    border: solid 1px;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    background-color: darkred;

}
#outerClock{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px;
    background-color: chocolate;
    z-index: 1;
}
.number{
    width: 1px;
    height: 155px;
    position: absolute;
    z-index: -5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}